#-injars      libs
-optimizationpasses 5
-dontpreverify
-repackageclasses ''
-allowaccessmodification
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*,!code/allocation/variable
-keepattributes *Annotation*
-dontwarn
-keepattributes Signature
-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keepattributes Annotation
-keepattributes SourceFile,LineNumberTable

-keep public class * extends android.view.View {
    public <init>(android.content.Context);
    public <init>(android.content.Context, android.util.AttributeSet);
    public <init>(android.content.Context, android.util.AttributeSet, int);
    public void set*(...);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.content.Context {
   public void *(android.view.View);
   public void *(android.view.MenuItem);
}

-keepclassmembers class * implements android.os.Parcelable {
    static android.os.Parcelable$Creator CREATOR;
}

-keepclassmembers class **.R$* {
    public static <fields>;
}

#-keepclassmembers class * {
#    @android.webkit.JavascriptInterface <methods>;
#}

-keep class prescilla.com.eurisko.** {
	*;
}

-keep class android.** {
	*;
}

-keep class com.github.** {
	*;
}

-keep class org.** {
	*;
}
-keep class java.** {
	*;
}

-keep class com.fasterxml.jackson.** {
	*;
}
-keep class com.esotericsoftware.kryo.** {
	*;
}

-keep class okhttp3.** {
	*;
}
-keep class com.jakewharton.** {
	*;
}
-keep class com.snappydb.** {
	*;
}
-keep class com.google.** {
	*;
}





-dontwarn  okhttp3.**
-dontwarn  com.sun.**
-dontwarn  freemarker.**
-dontwarn  org.hamcrest.**
-dontwarn  com.fasterxml.jackson.**
-dontwarn  com.parse.bolts.**
-dontwarn  org.**
-dontwarn  com.google.**
-dontwarn  java.**
-dontwarn  com.github.**
-dontwarn  android.**
-dontwarn  prescilla.com.eurisko.**
-dontwarn  com.esotericsoftware.kryo.**
-dontwarn  com.jakewharton.**
-dontwarn  com.snappydb.**


-keepclassmembers class * implements java.io.Serializable
